@import '@/assets/variables';

:root {
  --content-height: calc(100vh - 32px - 96px - 32px - 48px - 32px);  // screen height - top padding - name - name margin - schedule header - bottom padding
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;


  &[data-pool-count='1'] .pools {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }
}

.pools {
  max-height: var(--content-height);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @media (max-height: 730px) {
    overflow: scroll;
  }
}



@media (min-width: $lg) {
  .content {
    max-height: var(--content-height);
    grid-template-columns: 1fr;
    grid-template-rows: 60% 1fr;
  }
  .pools {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: $xl) {
  .content {
    grid-template-columns: 1fr 20rem;
    grid-template-rows: 1fr;
  }
  .pools {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: $xxl) {
  .content {
    grid-template-columns: 1fr auto;
  }
  .pools {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}