:root {
  /* screen height - top padding - name - name margin - schedule header - bottom padding */
  --content-height: calc(100vh - 32px - 96px - 32px - 48px - 32px);
}

.content {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;


  &[data-pool-count='1'] .pools {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }
}

.pools {
  max-height: var(--content-height);
  display: grid;
  gap: 0.5rem;
  
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: calc(100vw - 72px);

  @media (max-height: 730px) {
    overflow: scroll;
  }
}

.content:global(.with-table) .pools {
  margin-left: 0 !important;
  max-width: calc(100vw - 64px);
}

@media screen(md) {
  .content {
    max-width: calc(100vw - 32px);
    overflow-x: hidden;
  }
  .pools {
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }
}

@media screen(lg) {
  .content {
    height: 100%;
    max-height: var(--content-height);
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    overflow-y: hidden;
  }
  .content:global(.with-table) {
    max-height: 100%;
    grid-template-rows: auto auto;
  }
  .pools {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

@media screen(xl) {
  .content:not(:global(.with-table)) {
    grid-template-columns: 1fr 20rem;
    grid-template-rows: 1fr;
  }
  .content:not(:global(.with-table)) .pools {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen(2xl) {
  .content:not(:global(.with-table)) {
    grid-template-columns: 1fr minmax(500px, 20%);
  }

  .content:not(:global(.with-table)) .pools {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .content:global(.with-table) {
    .pools {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}