
.poolItemBg {
  background: var(--hover-color);
  overflow: hidden;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    width: 12rem;
    height: auto;
    top: 50%;
    left: 0;
    transform: translate(-25%, -50%);
    opacity: 0.2;
  }
}

.poolItemWrapper {
  @media (max-height: 730px) {
    min-height: 4rem !important;
  }
}